img{
    width: 330px;
    height: 248px;
}
figure {
    display: inline-block;
   
}
figure img{
     border-radius: 5px;
}
figcaption {
    display: flex;
    flex-direction: column;
    align-items: center;

}
figcaption p{
    color: #708090;
    margin: 0;
    padding-bottom: 2px;
    font-family: "Lucida Console", "Courier New", monospace;
}

