img{
    width: 330px;
    height: 248px;
}
figure {
    display: inline-block;
}
figcaption {
    display: flex;
    flex-direction: column;
    align-items: center;
}
figcaption p{
    color: white;
    margin: 0;
}

